# entrypoint = "app.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["gunicorn", "app:app", "--bind", "0.0.0.0:8080", "--workers", "2"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
